{% extends "layout.html" %} {% block title %}Admin Dashboard - Household
Services{% endblock %} {% block content %}

<!-- Table -->
<div class="container-md mt-4">
  <h3>Services</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Service Name</th>
          <th>Base Price</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Sample data, replace with your dynamic data from the database -->
        {% for service in services %}
        <tr>
          <td>{{service.id}}</td>
          <td>{{service.service_name}}</td>
          <td>{{service.price}}</td>
          <td>{{service.description}}</td>
          <td>
            <button
              class="btn btn-warning btn-sm"
              onclick="openEditModal('{{ service.id }}, {{ service.service_name }}, {{ service.description }}, {{ service.price }},{{ service.time_required }}')"
            >
              Edit
            </button>
            <!-- <a href="#" class="btn btn-danger btn-sm">Delete</a> -->
            <form
              action="{{ url_for('delete_service', service_id=service.id) }}"
              method="post"
              onsubmit="return confirm('Are you sure you want to delete this service?');"
              style="display: contents"
            >
              <button type="submit" class="btn btn-danger btn-sm">
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Add New Service -->
  <!-- Button to Open the Modal -->
  <button id="addServiceBtn" class="btn btn-primary mb-3" onclick="openModal()">
    Add New Service
  </button>

  <!-- The Modal -->
  <div id="addServiceModal" style="display: none">
    <div class="modal-content">
      <span class="close" id="closeModal" style="cursor: pointer">&times;</span>
      <h3>Add New Service</h3>
      <form
        id="serviceForm"
        action="{{ url_for('add_service') }}"
        method="POST"
      >
        <input
          type="text"
          id="service_name"
          placeholder="Service Name"
          name="service_name"
          class="form-control"
          required
        />

        <textarea
          class="form-control"
          name="service_description"
          placeholder="Description"
        ></textarea>
        <input
          type="number"
          id="base_price"
          class="form-control"
          placeholder="Base Price"
          name="base_price"
          required
        />
        <input
          type="number"
          id="time_required"
          placeholder="Time Required"
          name="time_required"
          class="form-control"
          required
        />
        <button type="submit" class="btn btn-secondary mb-2">
          Add Service
        </button>
        <button
          type="button"
          onclick="closeModal()"
          id="cancelBtn"
          class="btn btn-secondary mb-2"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>

  <h3>Professionals</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Experience</th>
          <th>Service Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Sample data, replace with your dynamic data from the database -->
        {% for professional in professionals %}
        <tr>
          <td>{{professional.id}}</td>
          <td>{{professional.user.username}}</td>
          <td>{{professional.user.name}}</td>
          <td>{{professional.experience}}</td>
          <td>{{professional.service_name}}</td>
          <td>
            <a
              data-url="{{ url_for('uploaded_file', filename=professional.document) }}"
              target="_blank"
              style="display: none"
              href="#"
              id="docLink"
              data-verify-url="{{ url_for('verify_professional', professional_id=professional.id) }}"
              data-block-url="{{ url_for('block', id=professional.id) }}"
            >
              View
            </a>
            {% if professional.user.is_blocked %}
            <!-- If the professional is blocked, show the red disabled button -->
            <form
              action="{{ url_for('unblock', id=professional.id) }}"
              style="display: contents"
            >
              <button type="submit" class="btn btn-danger btn-sm">
                UnBlock
              </button>
            </form>
            {% elif professional.verified %}
            <!-- If the professional is verified, show the yellow button -->
            <button
              type="button"
              class="btn btn-success btn-sm"
              onclick="openProfEditModal('{{ professional.id }}','{{ professional.user.name }}', '{{ professional.user.username }}', '{{ professional.service_name }}', '{{ professional.description }}', '{{ professional.document }}')"
            >
              Verified
            </button>
            {% else %}
            <!-- If the professional is not verified, show the default button -->
            <button
              type="button"
              class="btn btn-primary btn-sm"
              onclick="openProfEditModal('{{ professional.id }}', '{{ professional.user.name }}', '{{ professional.user.username }}', '{{ professional.service_name }}', '{{ professional.description }}', '{{ professional.document }}')"
            >
              View
            </button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h3>Customers</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Sample data, replace with your dynamic data from the database -->
        {% for customer in customers %}
        <tr>
          <td>{{customer.id}}</td>
          <td>{{customer.user.username}}</td>
          <td>{{customer.user.name}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.contact}}</td>
          <td>
            {% if customer.user.is_blocked %}
            <form
              action="{{ url_for('unblock', id=customer.id) }}"
              style="display: contents"
            >
              <button type="submit" class="btn btn-danger btn-sm">
                UnBlock
              </button>
            </form>
            {% else %}
            <form
              action="{{ url_for('block', id=customer.id) }}"
              style="display: contents"
            >
              <button type="submit" class="btn btn-warning btn-sm">
                Block
              </button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h3>Service Requests</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Service Name</th>
          <th>Requested By</th>
          <th>Assigned Professional</th>
          <th>Requested Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- Sample data, replace with your dynamic data from the database -->
        {% for service_request in service_requests %}
        <tr>
          <td>{{service_request.id}}</td>
          <td>{{service_request.service.service_name}}</td>
          <td>
            {{ service_request.customer.user.name if
            service_request.professional else 'N/A' }}
          </td>
          <td>
            {{ service_request.professional.user.name if
            service_request.professional else 'N/A' }}
          </td>
          <td>{{service_request.date_of_request.strftime('%Y-%m-%d') }}</td>
          <td>{{service_request.status}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="editServiceModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editServiceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form
        id="editServiceForm"
        action="{{ url_for('update_service') }}"
        method="POST"
      >
        <div class="modal-header">
          <h5 class="modal-title" id="editServiceModalLabel">Edit Service</h5>
        </div>
        <div class="modal-body">
          <input type="hidden" id="editServiceId" name="service_id" />
          <div class="form-group">
            <label for="editServiceName">Service Name</label>
            <input
              type="text"
              class="form-control"
              id="editServiceName"
              name="service_name"
              required
            />
          </div>
          <div class="form-group">
            <label for="editDescription">Description</label>
            <textarea
              class="form-control"
              id="editDescription"
              name="description"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label for="editPrice">Price</label>
            <input
              type="number"
              class="form-control"
              id="editPrice"
              name="price"
              required
            />
          </div>
          <div class="form-group">
            <label for="editTimeRequired">Time Required</label>
            <input
              type="number"
              class="form-control"
              id="editTimeRequired"
              name="TimeRequired"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-success">Update Service</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- View Professional Modal -->
<div
  class="modal fade"
  id="editProfessionalModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editProfessionalModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfessionalModalLabel">
          Professional Details
        </h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="editProfessionalName">Name</label>
          <input
            type="text"
            class="form-control"
            id="editProfessionalName"
            name="professional_name"
            required
            disabled
          />
        </div>
        <div class="form-group">
          <label for="editProfessionalUsername">Username</label>
          <input
            type="text"
            class="form-control"
            id="editProfessionalUsername"
            name="professional_username"
            required
            disabled
          />
        </div>
        <div class="form-group">
          <label for="editProfessionalDescription">Descrption</label>
          <input
            type="text"
            class="form-control"
            id="editProfessionalDescription"
            name="professional_descrption"
            required
            disabled
          />
        </div>
        <div class="form-group">
          <label for="editProfessionalService">Service Name</label>
          <input
            type="text"
            class="form-control"
            id="editProfessionalService"
            name="professional_service"
            required
            disabled
          />
        </div>
        <div class="form-group">
          <a
            target="_blank"
            href=""
            id="viewDocument"
            class="btn btn-warning btn-sm"
            >View Document</a
          >
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" id="blockProfBtn">Block</a>
        <a type="submit" class="btn btn-success" id="verifyProfBtn">Verify</a>
      </div>
    </div>
  </div>
</div>

<script>
  function closeModal() {
    document.getElementById("addServiceModal").style.display = "none";
  }
  function openModal() {
    document.getElementById("addServiceModal").style.display = "block";
  }
  function openEditModal(id, name, description, price, time_required) {
    // Show the modal
    console.log(id);
    let data = id.split(", ").map((part) => part.trim());
    let data2 = data[3].split(",").map((part) => part.trim());

    document.getElementById("editServiceModalLabel").innerHTML =
      "Edit Service #" + data[0];
    document.getElementById("editServiceId").value = data[0];
    document.getElementById("editServiceName").value = data[1];
    document.getElementById("editDescription").value = data[2];
    document.getElementById("editPrice").value = data2[0];
    document.getElementById("editTimeRequired").value = data2[1];
    $("#editServiceModal").modal("show");
  }
  function openProfEditModal(id, name, username, service, description, doc) {
    // console.log(e, "e");
    // let data = e.split(", ").map((part) => part.trim());
    // console.log(data);
    document.getElementById("editProfessionalModalLabel").innerHTML =
      "Professional #" + id + " Details";
    document.getElementById("editProfessionalName").value = name;
    document.getElementById("editProfessionalUsername").value = username;
    document.getElementById("editProfessionalService").value = service;
    document.getElementById("editProfessionalDescription").value = description;
    let url = document.getElementById("docLink").getAttribute("data-url");
    document.getElementById("viewDocument").href = url;
    let verifyUrl = `/verify_professional/${id}`;
    document.getElementById("verifyProfBtn").href = verifyUrl;
    let blockUrl = `/block/${id}`;
    document.getElementById("blockProfBtn").href = blockUrl;
    console.log(verifyUrl, blockUrl);
    $("#editProfessionalModal").modal("show");
  }
</script>
{% endblock %}
