{% extends "layout.html" %} {% block title %}Profile - Household Services{%
endblock %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Profile</h1>
  <div class="profile-section card p-4">
    {% if user.role == 'customer' %}
    <!-- Customer Profile Section -->
    <h2>Customer Profile</h2>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Address:</strong> {{ customer.address }}</p>
    <p><strong>Contact:</strong> {{ customer.contact }}</p>
    <p>
      <strong>Account Status:</strong>
      {% if user.is_blocked %}
      <span class="badge text-bg-danger">Blocked</span>
      {% else %}
      <span class="badge text-bg-success">Active</span>
      {% endif %}
    </p>
    <!-- Add other customer-specific fields here -->

    {% elif user.role == 'professional' %}
    <!-- Professional Profile Section -->
    <h2>Professional Profile</h2>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Address:</strong> {{ professional.address }}</p>
    <p><strong>Specialization:</strong> {{ professional.service_name }}</p>
    <p><strong>Experience:</strong> {{ professional.experience }} years</p>
    <p><strong>Description:</strong> {{professional.description }}</p>
    <p><strong>Contact:</strong> {{ professional.contact }}</p>

    <p>
      <strong>Account Status:</strong>
      {% if user.is_blocked %}
      <span class="badge text-bg-danger">Blocked</span>
      {% elif not professional.verified %}
      <span class="badge text-bg-warning">Not Verified</span>
      {% else %}
      <span class="badge text-bg-success">Verified</span>
      {% endif %}
    </p>
    <!-- Link to view uploaded document if available -->
    {% if professional.document %}
    <p>
      <strong>Document:</strong>
      <a href="" target="_blank">
        <button class="btn btn-warning btn-sm">View Document</button></a
      >
    </p>
    {% endif %}
    <!-- Add other professional-specific fields here -->
    {% else %}
    <!-- Error message if user role is neither 'customer' nor 'professional' -->
    <div>
      <a href="{{ url_for('login') }}"
        ><button type="submit" class="btn btn-primary btn-sm">Login</button></a
      >
      to view Profile
    </div>
    {% endif %}
  </div>
</div>
<script>
  const user_role = "{{ user.role }}";
  if (user_role === "professional") {
    const doc = "{{ professional.document }}";
    let url = "/uploads/" + doc;
    document.querySelector("a").setAttribute("href", url);
  }
</script>

{% endblock %}
