{% extends "layout.html" %} {% block title %}Professional Dashboard{% endblock
%} {% block content %}

<div class="container mt-5">
  {% if professional.user.is_blocked %}
  <div class="alert alert-danger" role="alert">
    Your account is blocked. Please contact the admin.
  </div>
  {% elif not professional.verified %}
  <div class="alert alert-warning" role="alert">
    Your account is not verified yet. Please wait for the admin to verify your
    account.
  </div>
  {% else %}

  <span class="navbar-text position-fixed top-0 end-0 m-3">
    <a href="{{url_for('profile')}}">Profile</a>
  </span>
  <h2 class="mt-4">Accepted Services</h2>
  <div class="table-responsive">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Pincode</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        {% for service_request in accepted_services %}
        <tr>
          <td>{{ service_request.id }}</td>
          <td>{{ service_request.customer.user.name }}</td>
          <td>{{ service_request.service.description }}</td>
          <td>{{ service_request.customer.address }}</td>
          <td>{{ service_request.customer.pincode }}</td>
          <td>{{ service_request.customer.contact}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2 class="mt-4">Today Services</h2>
  <div class="table-responsive">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Pincode</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for service_request in today_services %}
        <tr>
          <td>{{ service_request.id }}</td>
          <td>{{ service_request.customer.user.name }}</td>
          <td>{{ service_request.service.description }}</td>
          <td>{{ service_request.customer.address }}</td>
          <td>{{ service_request.customer.pincode }}</td>
          <td>
            {% set ns = namespace(found=false) %} {% for reject in
            service_request.rejected_by %} {% if reject == user.id %} {% set
            ns.found = true %} {% endif %} {% endfor %} {% if not ns.found %}
            <a
              href="{{ url_for('accept_service', service_id=service_request.id) }}"
              class="btn btn-success"
              >Accept</a
            >
            <a
              href="{{ url_for('reject_service', service_id=service_request.id) }}"
              class="btn btn-danger"
              >Reject</a
            >
            {% else %}
            <span class="badge text-bg-danger">Rejected</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2 class="mt-4">Closed Services</h2>
  <div class="table-responsive">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer Name</th>
          <th>Contact Phone</th>
          <th>Location</th>
          <th>Rating</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        {% for service_request in closed_services %}
        <tr>
          <td>{{ service_request.id }}</td>
          <td>{{ service_request.customer.user.name }}</td>
          <td>{{ service_request.customer.contact }}</td>
          <td>{{ service_request.customer.address }}</td>
          <td>{{ service_request.rating }}</td>
          <td>{{ service_request.remarks }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>

{% endblock %}
